.gallery
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  margin: 0 auto
  margin-top: 40px
  width: 90%

  &__item
    margin: 20px
    max-width: 20%
    border-radius: 10px
