.user-card
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: baseline

  &__meta
    position: sticky
    top: 80px
    display: flex
    flex-direction: column
    width: 35%

  &__gallery
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    width: 60%

    & .gallery
      margin-top: 0
      width: 100%

    & .gallery__item
      max-width: 28%

    & .gallery__author
      display: none

    & .gallery__fullimg-link
      font-size: 18px

  &__main
    display: flex

    align-items: center
    text-align: center

  &__avatar
    display: block
    margin-right: 30px
    width: 128px
    height: 128px
    border-radius: 50%

  &__name
    width: 80%

    span
      display: block
      margin-bottom: 5px
      font-size: 28px
      line-height: 1.2em
    p
      font-size: 14px
      line-height: 1.2em

  &__content
    margin-top: 20px
    font-size: 26px
    line-height: 1.2em

    p
      margin: 0
      margin-bottom: 10px

  &__tag
    text-transform: capitalize

  &__soc-icon
    position: relative
    display: inline-block
    margin-right: 10px
    width: 32px
    height: 32px
    background-color: $color-content
    border-radius: 50%
    transition: $transition

    svg
      fill: $color-bg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      max-width: 22px
      max-height: 22px
      transition: $transition

    &:hover
      background-color: $color-bg
      border-radius: unset

      svg
        fill: $color-content

  &__error
    text-align: center
